@rendermode InteractiveAuto
@page "/products"
@using LajmiBlazorWebApp.Client.Services
@using Models
@inject BasketService basketService

<h1>Vores Produkter</h1>

<div class="product-grid">
    @foreach (var product in products)
    {
        <div class="product-card">
            <div class="image-container">
                <img src="@product.ImageUrl" alt="@product.ProductName" />
            </div>
            
            <div class="product-info">
                <h3>@product.ProductName</h3>strukt
                <p class="price">
                    @product.Price.ToString("N2") kr
                </p>
                
                <button class="btn-buy" @onclick="() => PlaceInCart(product.Id)">
                    Tilføj til kurv
                </button>
            </div>
        </div>
    }
</div>

@code {
    // ---------------------------    INFO ---------------------------
    // Hele pointen med dette er at simulerer data, der normalt ville komme fra en database eller et API 
    // Jeg sender hele data modellen op til GUI'en for test. Det skal self igennem DTO'en når vi er klar... /Jamal
    private List<Product> products = new();

    protected override void OnInitialized()
    {
        
        products = new List<Product>
        {
            new Product { Id = 1, ProductName = "Brazil - MANTIQUEIRA AZUL", Price = 85.00m, ImageUrl = "/Images/Products/AZUL.png",  },
            new Product { Id = 2, ProductName = "Tasting Box - Flere muligheder", Price = 350.00m, ImageUrl = "/Images/Products/Fyr.png",  },
            new Product { Id = 3, ProductName = "BWT magnesium filtre (3-pak)", Price = 129.00m, ImageUrl = "/Images/Products/Mag_Water.png",  },
            new Product { Id = 4, ProductName = "54mm naked portafilter holder", Price = 399.00m, ImageUrl = "/Images/Products/Ruby.png", }
        };
    }
// Denne metode er helt håbløs, men den virker for nu .... 
    private void PlaceInCart(int productId)
    {
        var product = products.FirstOrDefault(p => p.Id == productId);

        if (product != null)
        {
            basketService.AddProduct(product);
            Console.WriteLine($"Tilføjet: {product.ProductName}");
        }
        basketService.AddProductcounter();
    }
    
    

}