@page "/produkter"
@using LajmiBlazorWebApp.Services
@inject BasketService basketService

<h1>Vores Produkter</h1>

<div class="product-card">
    <h2>Super fed T-shirt</h2>
    <p>Pris: 199,-</p>
    
    <button class="btn-buy" @onclick="KoebeKnapKlikket">
        Tilføj til kurv
    </button>
</div>

@code {
    // Denne metode aktiveres af @onclick
    private void KoebeKnapKlikket()
    {
        // Vi tager fat i vores fælles hukommelse og beder den lægge 1 til
        basketService.AddProductcounter();
    }
}